@import "variables";
@import "mixins";

html {
  background: linear-gradient(180deg, black 25%, $main-bg 50%);
}

#home-banner {
  margin: 4% 0 6% 0;
  padding-bottom: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  h1, h2 {
    align-self: center;
  }
  
  h1 {
    font-size: $main-title;
  }
  
  h2 {
    font-size: $sub-title;
    margin: 0 0 50px 0;
  }
}

hr {
  margin: 20px 0 20px 0;
}

ul, li {
  margin: 8px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-banner-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
  a {
    @include blankLink();
    font-weight: bold;
    
    border-style: solid;
    border-width: 1px;
    border-color: $primary-color-faded;
    border-radius: 20px;

    box-shadow: 0 0 8px 4px  $primary-color-faded inset, 0 0 8px 4px $primary-color-faded;
    
    padding: 15px;
    margin: 0 5% 0 5%;

    text-align: center;
  }
}

