@import "code-highlighting";
@import "variables";
@import "fonts";

html {
  background: $main-bg;
  color: $text-color;
}

body {
  padding: 0;
  margin: 0;
}

main {
  margin: 2% 15% 5% 15%;
}

img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, li, br, a, span, table {
  font-family: "Inter", Helvetica, Arial, serif;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p, li, br, a, span {
  font-size: $regular-text-size;
  line-height: 1.5;
}

ul, li {
  margin: 4px 0 4px 0;
}

a:link {
  color: $link-normal;
}

a:visited {
  color: $link-visited;
}

blockquote {
  border-radius: 0 10px 10px 0;
  border-style: solid;
  border-color: transparent transparent transparent #0071e0;
  
  margin: 10px 2px 10px 2px;
  padding: 0 0 10px 20px;
  
  background: $blockquote-bg;
}

th, td {
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  border-color: $primary-color;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

footer {
  margin-top: 30px;
  padding: 20px 0 20px 0;
  background: $footer-bg;
  height: 100%;
  width: 100%;
}

footer span {
  margin: 10px 10px 10px 40px;
  grid-column: 1;
  grid-row: 1;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

#github-icon {
  height: 50px;
  width: 50px;
  
  margin: 10px 50px 10px 10px;

  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}

#top-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  a {
    text-decoration: inherit;
    font-weight: bold;
  }
}

#home-link {
  grid-column: 1;
  grid-row: 1;

  justify-self: start;
}

#source-link {
  grid-column: 3;
  grid-row: 1;

  justify-self: end;
}

#toc {
  margin: 0 0 30px 0;
}