// Home Header
$main-title: 50pt !default;
$sub-title: 26pt !default;

// Home Card
$card-header-font-size: 14pt !default;
$card-content-font-size: 11pt !default;
$card-content-color: rgba(201, 201, 209, 0.75) !default;
$card-border-radius: 15px !default;
$card-shadow: rgba(255, 255, 255, .5) !default;

// Header/Text Size
$h1-font-size: 30pt !default;
$h2-font-size: 24pt !default;
$h3-font-size: 22pt !default;
$h4-font-size: 20pt !default;
$h5-font-size: 18pt !default;
$h6-font-size: 16pt !default;
$regular-text-size: 12pt !default;

// General Colors
$primary-color: #C9C9D1 !default;
$primary-color-slightly-faded: rgba(201, 201, 209, 0.6) !default;
$primary-color-faded: rgba(201, 201, 209, 0.4) !default;

// Text
$text-color: $primary-color !default;

// Background
$main-bg: #1D1D26 !default;
$secondary-bg: #2F3039 !default;
$footer-bg: #15151c !default;
$blockquote-bg: $secondary-bg !default;

// Code
$code-bg-color: $secondary-bg !default;
$code-text-color: $text-color !default;

// Links
$link-normal: #0071e0 !default;
$link-visited: #7540b2 !default;

// Responsive Sizes
$extra-large-screen: 3500px !default;
$large-screen: 2500px !default;
$medium-screen: 1600px !default;
$small-screen: 700px !default;