---
layout: default
css_files:
- default
- home
js_files:
- galaxy-animation
---


<canvas id="canvas"></canvas>
<div id="home-banner">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
    <div class="home-banner-links">
        {% if site.source_repository_url %}
        <a href="{{ site.source_repository_url }}">Source Repository</a>
        {% endif %}
        {% if site.latest_post %}
        <a href="{{ site.baseurl }}/{{ site.latest_post }}">Read The Latest Post</a>
        {% endif %}
    </div>
</div>

{{ content }}

<div id="card-container">
    {% for post in page.posts %}
    <div class="outer-card">
        <a class="card" href={{ post.link }}>
            <img alt={{ post.image-alt }} src={{ post.image }}>
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <p class="card-date">{{ post.footer-text }}</p>
        </a>
    </div>
    {% endfor %}
</div>

